{% extends 'partials/base.html' %}

{% block content %}
    <div class="row">
        <div class="col">
            {% if not session['read_only'] %}
                {% block sql_editor %}
                    <div class="dropdown" role="menu">
                        <button class="btn btn-outline-primary dropdown-toggle"
                            type="button" id="adhoc" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Queries
                        </button>

                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                            {% for name, item in misc.categories.items() %}
                                <li class="dropdown-divider"></li>
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item" class="dropdown-item" tabindex="-1" href="#">{{ name }}</a>

                                    <ul class="dropdown-menu">
                                        {% for subitem in item.queries %}
                                            <li class="dropdown-item">
                                                <a class="dropdown-item"
                                                    onclick='
                                                        document.getElementById("sql").value={{ subitem.sql|tojson }};
                                                        document.getElementById("sql").focus();
                                                        {% if subitem.info %}
                                                        document.getElementById("infotarget").querySelector("p").innerText={{ subitem.info|tojson|safe|nl2br }};
                                                        document.getElementById("infotarget").classList.remove("d-none");
                                                        {% else %}
                                                        document.getElementById("infotarget").classList.add("d-none");
                                                        {% endif %}
                                                        return false;
                                                    ' href="#">
                                                    {{ subitem.title }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}

                            {% if session['history'] %}
                                <li class="dropdown-divider"></li>
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item font-weight-bold" class="dropdown-item" tabindex="-1" href="#">
                                        Query history
                                    </a>

                                    <ul class="dropdown-menu">
                                        {% for item in session['history'][:25]|reverse %}
                                            <li class="dropdown-item">
                                                <a class="dropdown-item"
                                                    onclick='
                                                        document.getElementById("sql").value={{ item|tojson }};
                                                        document.getElementById("sql").focus();
                                                        document.getElementById("infotarget").classList.add("d-none");
                                                        return false;
                                                    ' href="#">
                                                    {{ loop.index }}. {{ item|truncate(80, True) }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                    </div>

                    <div id="infotarget" class="text-left dark-grey-text d-none">
                        <div class="container my-3 py-3 z-depth-1">
                            <p></p>
                        </div>
                    </div>

                    <form action="/{{ session["server"] }}/{{ session['database'] }}/{{ session['table'] }}/sql/" method="post">
                        <div class="form-group text-monospace blue-border-focus">
                            <label for="exampleFormControlTextarea1"></label>
                            <textarea class="form-control" name="sql" id="sql" rows="7"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

                    {% if error %}
                        <div class="note note-danger">
                            <pre><strong>SQL: </strong>{{ session['sql'] }}</pre>
                            <strong>Error! </strong>{{ error }}
                        </div>
                    {% endif %}

                    {% if message %}
                        <div class="note note-success">
                            <pre><strong>SQL:</BR></strong>{{ session['sql'] }}</pre>
                            <strong>Success: </strong>{{ message }}
                        </div>
                    {% endif %}
                {% endblock %}
            {% endif %}


            <table id="proxywebtable" class=" table table-striped  table-bordered table-sm" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        {% for column_name in content['column_names'] %}
                            <th class="th-sm">{{ column_name }}</th>
                        {% endfor %}
                    </tr>
                </thead>

                <tbody>
                    {% for row in content['rows'] %}
                        <tr>
                            {% for column in row %}
                                <td style="max-width:850px;">{{ column }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
